body {
	font-family: 'Roboto', sans-serif;
	background: #4ECDC4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

h1 {
	margin: 0;
	background-color: #2980B9;
	text-transform: uppercase;
	color: white;
	padding: 10px 20px;
	font-size: 24px;
	font-weight: normal;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

input {
	width: 100%;
	font-size: 18px;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	background-color: #f7f7f7;
	border: 3px solid rgba(0, 0, 0, 0);
	color: #2980B9;
	cursor: pointer;
}

span {
	background-color: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: #fff;
	width: 0;
	display: inline-block;
	opacity: 0;
}

li {
	background-color: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:nth-child(2n) {
	background-color: #f7f7f7;
}

li:hover span {
	width: 40px;
	transition: 0.2s linear;
	opacity: 1.0;
	cursor: pointer;
}

#container {
	width: 400px;
	margin: 7.5% auto;
	background-color: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}


.completed{
	color: gray;
	text-decoration: line-through;
}

input:focus {
	background-color: #fff;
	border: 3px solid #2980B9;
	outline: none
}


.fa-plus {
	float:right;
	cursor: pointer;
}
